* {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Open Sans";
    color: #666;
    line-height: 1.7em;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: "Old Standard TT";
}

a {
    text-decoration: none;

}

.marker {
    padding-left: 20px;

    padding-top: 5px;
    padding-bottom: 5px;

}

.marker i,
span {

    color: white;

    font-size: 12px;
}

.call a,
i,
span {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.top-bar {
    padding: 0;
    background-color: #222222;
}

.call {
    padding-top: 5px;
    padding-bottom: 5px;
}

.above-menu {
    text-align: center;
}

.logomenu {
    margin-top: 30px;
    margin-bottom: 30px
}

.home {
    color: #111111;
    padding: 15px 8px;
}

.navitem {
    color: #666666;
    padding: 15px 8px;
}

.nav-item {
    margin: 0 7px;
}

.main-menu {
    border: 1px solid #eaeaea;
}

.subMenu {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 9999;
    padding: 10px;
    width: 200px;
    color: #666666;
}

.subMenu a {
    color: #666666;
    text-decoration: none;
}

.hasSub:hover>.subMenu {
    display: block;
    background-color: white;

}

.hasSub:hover>.subMenu>.navitem {
    color: #111111;
    text-decoration: none;
}

.hasSub {
    position: relative;

}

.slidersec11 {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(Images/Slider\ 1.jpg);
}

.slidersec12 {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(Images/Slider\ 2.jpg);
}

.testTextr {
    width: 50%;
    position: absolute;
    right: 0;
    height: 500px;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 130px;
    padding-right: 130px;

}

.testTextr form {
    background-color: rgba(34, 34, 34, 0.8);
    padding: 30px;
}

.testTextr .row1 {
    margin-bottom: 10px;
}

.testTextr .row2 {
    margin-bottom: 20px;
}

.testTextl {
    width: 50%;
    position: absolute;
    left: 0;
    height: 500px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 150px;
    color: white;
}

.checkav {
    background-color: tan;
    color: white;
    text-align: center;
    border: none;
    width: 100%;
    padding: 10px;
}

.testSec {
    position: relative;
}

.testTextr label {
    color: #eaeaea;

}

.section1:hover .sec1prev {
    display: flex;
}

.section1:hover .sec1next {
    display: flex;
}

.sec1prev,
.sec1next {
    display: none;
}

.itemBay2 img {
    height: 160px;

}

.itemBay2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hotelBay {
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #eaeaea;
}

.slidebot1 {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(Images/Spa\ like\ no\ other.jpg);
}

.slidebot2 {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(Images/Culinary\ Experience.jpg);
}

.textsliderBottom1 {
    width: 50%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.8);
}

.textsliderBottom2 {
    width: 50%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.8);
}

.textsliderBottominner {
    margin: auto;
    padding-top: 20%;
    width: 70%;
    color: white;
}

.booknow {
    background-color: tan;
    color: white;
    text-align: center;
    border: none;
    width: 50%;
    padding: 10px;
}

.btngrslidebot {
    position: relative;
    margin-top: 40px;
    width: 100px;
}

.btngrslidebot button {
    position: absolute;
    border: 1px solid white;
    padding: 24px;
}

.sliderBottom>.carousel-control-prev {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.sliderBottom>.carousel-control-next {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.sliderBottom p {
    color: white;
}

.iipic {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    height: 118px;
}

.iiBorder {
    text-align: center;
    height: 100%;
    border: 1px solid gray;
    border-radius: 7px;
}

.inspiredincentives {
    margin-top: 50px;
    margin-bottom: 100px;
}

.iiTitle {
    text-align: center;
    margin-bottom: 30px;
}

.iiTitle p {
    margin-bottom: 8px;
}

.iiBorder h6 {
    color: #111;
    font-family: 'Open Sans', sans-serif;
}

.iiitem {
    margin-bottom: 20px;
}

.blackcover {
    padding: 15px;
}

.ipitem1:hover .blackcover,
.ipitem2:hover .blackcover,
.ipitem3:hover .blackcover,
.ipitem4:hover .blackcover,
.ipitem5:hover .blackcover,
.ipitem6:hover .blackcover {
    background-color: rgba(35, 35, 35, 0.8);
    height: 100%;
}

.ipitem1:hover {
    background-image: url(Images/plane\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.ipitem2:hover {
    background-image: url(Images/breakfast\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ipitem3:hover {
    background-image: url(Images/tour-guide\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.ipitem4:hover {
    background-image: url(Images/bbq\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.ipitem1:hover p,
.ipitem1:hover h6 {
    color: white;
    z-index: 9999;
}

.ipitem2:hover p,
.ipitem2:hover h6 {
    color: white;
    z-index: 9999;
}

.ipitem3:hover p,
.ipitem3:hover h6 {
    z-index: 9999;
    color: white;
}

.ipitem4:hover p,
.ipitem4:hover h6 {
    color: white;
    z-index: 9999;
}

.Whatothersay {
    margin-bottom: 200px;
}

.rowPerson {
    margin-top: 20px;
    margin-bottom: 20px;

}

.person {
    padding-top: 15px;
    padding-bottom: 15px;

}

.personBOrder {
    border: 1px solid gray;
    border-radius: 7px;
    padding: 20px;
    height: 100%;
}

.person .personBOrder .avatar img {
    border-radius: 50%;
}

.avatar,
.personalPng {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ctnwos {
    text-align: center;
}

.ctnTitle p {
    margin-bottom: 8px;
}

.personBOrder h4 {
    color: #111;
    font-family: "Old Standard TT";
}

.andnBorder {
    border: 1px solid gray;
    border-radius: 7px;
}

.andPicture img {
    width: 100%;
    border: 2px;
}

.andnText {
    padding: 15px;
}

.smallAnandNText {
    font-size: small;
}

.btnAandN button {
    border: none;
    background-color: white;
    padding: 0;
}

.andnItem {
    padding-top: 15px;
    padding-bottom: 15px;
}

.botTextAandN {
    border-bottom: 3px solid gray;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

.colbotTextAandN {
    padding: 20px;

}

.botTextAandN button {
    background-color: white;
    border: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.andnTitle {
    text-align: center;
    margin-bottom: 8px;
}

.andnTitle p {
    margin-bottom: 8px;
}

.foot {
    background-color: #343434;
}

.copyright {
    background-color: black;
    color: grey;
    text-align: center;
    padding: 30px;
}

.copyright p {
    margin: 0;
}

.flogo .logo {
    margin-bottom: 20px;
    color: white;
}

.frow {
    padding-top: 40px;
    padding-bottom: 40px;
}

.linkcol ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 16px;
}

.linkcol ul li a {
    color: grey;
    text-decoration: none;
}

.foot h5 {
    color: white;
}

.addresscol p {
    color: grey;
}

.flogo p {
    color: grey;
}

.footformmail {
    margin-bottom: 10px;
}

.footformmailip {
    width: 100%;
    padding: 23px;
    border: none;
}

.footform {
    width: 100%;
}

.iconemail {
    background-color: white;
    border: none;

}

.iconblack {
    color: black;
}

.room1,
.room2,
.room3,
.room4,
.room5,
.room6 {
    border: 1px solid #eaeaea;
    border-radius: 3px;
    box-shadow: 0 2px 1px 0 #eaeaea;
    height: 100%;
}

.room11,
.room12,
.room13,
.room14,
.room15,
.room16 {
    height: 100%;
}

.roompic1 {
    height: 268px;
    background-image: url(Images/Room\ -\ Standard.jpg);
}

.roompic2 {
    height: 268px;
    background-image: url(Images/Room\ -\ Beach\ Villa.jpg);
}

.roompic3 {
    height: 268px;
    background-image: url(Images/Room\ -\ Exclusive\ Suite.jpg);
}

.roompic4 {
    height: 268px;
    background-image: url(Images/Room\ -\ Beach\ Villa.jpg);
}

.roompic5 {
    height: 268px;
    background-image: url(Images/Room\ -\ Exclusive\ Suite.jpg);
}

.roompic6 {
    height: 268px;
    background-image: url(Images/Luxury.jpg);
}

.roompic1:hover,
.roompic2:hover,
.roompic3:hover,
.roompic4:hover,
.roompic5:hover,
.roompic6:hover {
    height: 240px;
    transition: all 0.5s;
}


.roompic1:hover .room11,
.roompic2:hover .room12,
.roompic3:hover .room13,
.roompic4:hover .room14,
.roompic5:hover .room15,
.roompic6:hover .room16 {
    height: 320px;
}

.inforoom {
    padding: 10px;
}

.LodgingTitle {
    text-align: center;
    margin-bottom: 25px;

}

.Lodging {
    margin-bottom: 100px;
    margin-top: 100px;
}

.lodgbtngr {
    height: 30px;
    position: relative;
    margin-top: 20px;
}

.lodgbtngr button {
    border: 1px solid #666666;
    position: absolute;
    height: 30px;
    width: 34px;
}

.lodgbtngr>.carousel-control-prev {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 47%;
}

.lodgbtngr>.carousel-control-next {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 47%;
}

.lodgbtngr>.carousel-control-prev i,
.lodgbtngr>.carousel-control-next i {
    color: #222222;
}

.size48px {
    font-size: 48px;
    font-family: "Old Standard TT";
}

.ffffffB3 {
    color: #ffffffB3;

}

.firstbarinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info,
.social-media {
    display: flex;
    align-items: center;
}

.call,
.marker {
    margin-right: 10px;
}

.social-media i {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .testTextl {
        width: 100%;
        padding: 0;
    }

    .itemBay2 img {
        width: 100%;
        height: 100%;
    }

    .textsliderBottom1 {
        width: 100%;
        height: 100%;
        background-color: rgba(34, 34, 34, 0.8);

    }

    .textsliderBottom2 {
        width: 100%;
        height: 100%;
        background-color: rgba(35, 35, 35, 0.8);
    }

    .textsliderBottom2 p,
    .textsliderBottom1 p {
        width: 1200px;
    }

    .textsliderBottominner {
        margin: 20px;
    }

    .lodgbtngr>.carousel-control-prev {
        margin-left: 41%;
    }

    .lodgbtngr>.carousel-control-next {
        margin-right: 41%;
    }

    .section1mobile {
        display: block;
    }

    .section1 {
        display: none;
    }

    .top-bar {
        display: none;
    }

    .top-bar-mobile {
        padding: 0;
        background-color: #222222;
        display: block;
        text-align: center;
    }

    .main-menu {
        display: none;
    }
   
}

@media only screen and (min-width : 601px) {
    .section1mobile {
        display: none;
    }

    .top-bar-mobile {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}



.formMObile {
    padding: 30px;
}

.formMObile>div {
    border: 1px solid #666666;
    padding: 10px;
}

.rowMobilesec1 {
    margin-top: 20px;
}




.social-media-mobile {
    align-items: center;
}

.top-bar-mobile .call,
.top-bar-mobile .marker {
    margin: 0
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: sienna;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: 0.4s;
    width: 40px;
    height: 40px;

}

#myBtn:hover {
    background-color: tan;
}

.mobile-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #eaeaea;
}
.bars {
    background-color: tan;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.nav-item-mobile>.nav-item {
    width: 100%;
    display: block;
}

.subMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    background-color: tan;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
    z-index: 100;
    margin-left: -191px;
}

.subMenu li {
    padding: 10px 20px;
}

.subMenu a {
    display: block;
    width: 100%;
    color: black;
    text-align: center;
}

.subMenu a:hover {
    background-color: #ddd;
}

.childsubMenumobile {
    display: none;
}

.hasSubroom:hover .childsubMenumobile {
    display: block;
    list-style: none;
}