.white {
    color: white;
}

.mainDiv {

    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    background: url(runner-in-sunrise.jpg );
}

.overlay {
    padding: 20px;
    background-color: rgba(160, 155, 155, 0.473);
}

.item1 {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255, 0.8);
}

.item0 {

    background-color: rgb(255, 255, 255, 0.8);
}

h1 {

    text-align: center;
}

.content {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: rgb(255, 255, 255, 0.8);
}