.mainMenu>li>a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
}


.main-menu,
.subMenu {
    list-style-type: none;
}

.subMenu a {
    text-decoration: none;
}

.mainMenu>li {
    display: inline-block;
    position: relative;
    padding: 10px;
}


.mainMenu>li:hover>a {
    color: white;
}

.subMenu {
    display: none;
    position: absolute;
}

.mainMenu>li:hover>.subMenu {
    display: block;
}

header {
    background: url(images/Slider\ 1\ -\ modern-villa-with-pool-and-deck-with-interior.jpg);
}

.bookingDiv,
.OurVillaDiv {
    text-align: center;
}

.sloganPage {
    width: 100%;
    background: url(images/Our\ villas\ -\ 2.jpg) no-repeat fixed;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerMenu {
    list-style-type: none;
}

.footerMenu>li>a {
    color: white;
}

footer {
    color: white;
    background-color: #0e1824;
}
